.container {
	display: flex;
	gap: var(--gap-l);
	background-color: var(--white);
	padding: 24px;
	border-radius: var(--border-radius);
	font-size: 14px;
	line-height: 20px;
	height: 210px;
	cursor: pointer;
}

.container:hover {
	opacity: 0.8;
}

.image {
	width: 100px;
	height: 120px;
	border-radius: var(--border-radius);
}

.details {
	display: grid;
	gap: var(--gap-s);
	grid-template-columns: 90px 1fr;
}

.title {
	grid-column: 1 / -1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.genreKey,
.descriptionKey,
.yearKey {
	color: var(--text-color-secondary);
}

.genreValue {
	text-transform: capitalize;
}

.descriptionValue {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
