.container {
	display: flex;
	flex-direction: column;
	position: relative;
	row-gap: var(--gap-s);
	background-color: var(--white);
}

.selectWrapper {
	position: relative;
	border: 1px solid var(--input-color-border);
	border-radius: var(--border-radius);
	width: 360px;
	cursor: pointer;
}

.selectWrapper::after {
	content: url('../../images/arrow-square-down.svg');
	position: absolute;
	right: 8px;
	top: 8px;
	pointer-events: none;
}

.active {
	border: 1px solid var(--color-accent);
}

.select {
	border-radius: var(--border-radius);
	padding: 10px 16px;
}

.options {
	position: absolute;
	top: 40px;
	left: -1px;
	border-radius: var(--border-radius);
	background-color: var(--white);
	width: 361px;
	z-index: 2;
	box-shadow: 0px 10px 22px -4px #1b1f231f;
}

.option {
	padding: 12px;
}

.option:hover {
	background-color: var(--select-option-hover);
}

.title {
	font-size: 14px;
}
