.container {
	display: flex;
	flex-direction: column;
	gap: var(--gap-l);
	padding: 24px;
	width: calc(100vw - 25px);
	justify-content: center;
}

.poster {
	width: 400px;
	height: 500px;
	border-radius: var(--border-radius);
}

.card {
	background-color: var(--white);
	border-radius: var(--border-radius);
	display: flex;
	padding: 24px;
	gap: var(--gap-l);
}
