@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url('./shared/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url('./shared/fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url('./shared/fonts/Roboto-Bold.ttf');
}

:root {
	--white: #ffffff;
	--black: #000000;
	--color-accent: #ff5500;
	--color-inactive: #ababab;
	--text-color-secondary: #ababab;
	--text-color-main: #1b1f23;
	--text-color-search: #999fa6;
	--bg-color-dark: #333333;
	--bg-color-light: #e1e3e6;
	--input-color-accent: #f04075;
	--input-color-border: #ced2d6;
	--border-radius: 8px;
	--select-option-hover: #fafafa;
	--gap-s: 8px;
	--gap-m: 16px;
	--gap-l: 24px;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

body {
	margin: unset;
	font-size: 14px;
}

button,
input {
	font: inherit;
	border: none;
	outline: none;
}

select {
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::after,
	::before {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
